extends layouts/default

block page-info
    - var pageTitle = "Home page";

block content
    section.hero#hero
        .container
            h1 Hire us
            p Top professionals, ready to join your team.
            a.btn.btn-secondary(href="")
                | Get started
                i.fas.fa-arrow-circle-right
    section.tpl-block.tpl-block-grey#what-we-do
        .container.text-center
            .heading-section
                    h2 What we do
                    p We’re passionate about technology, but we understand that it takes more than just coders to make successful products. Some of the services we offer are listed below.
            .row
                .col-md-4
                    .img
                        svg.mb-2(width='112', height='112', viewBox='0 0 48 48', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                          g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                            path(d='M29.7425743,30.019802 L29.7425743,37.3069307 C29.7425743,37.9631106 29.2106353,38.4950495 28.5544554,38.4950495 L17.7710396,38.4950495 C17.3439821,38.4950495 16.9978342,38.8205446 16.9975248,39.2475248 L16.9964418,41.3603806 L15.1502166,39.3168317 C14.6383213,38.8085983 14.4873585,38.4950495 13.8938919,38.4950495 L7.32673267,38.4950495 C6.67055277,38.4950495 6.13861386,37.9631106 6.13861386,37.3069307 L6.13861386,21.1881188 C6.13861386,20.5319389 6.67055277,20 7.32673267,20 L16.157797,20 C16.7483589,20 17.227104,19.521255 17.227104,18.9306931 C17.227104,18.3401312 16.7483589,17.8613861 16.157797,17.8613861 L6.57425743,17.8613861 C5.15253431,17.8613861 4,19.0139204 4,20.4356436 L4,38.0594059 C4,39.4811291 5.15253431,40.6336634 6.57425743,40.6336634 L14.0447092,40.6336634 L17.221612,43.7734375 C17.3695854,43.9214109 17.5673731,44 17.7687191,44 C17.8682704,44 17.96875,43.9807395 18.0642791,43.9412129 C18.3533416,43.8216275 18.5418472,43.5397587 18.5420792,43.2270266 L18.5439356,40.5965347 L29.3069307,40.5965347 C30.7286538,40.5965347 31.8811881,39.4440003 31.8811881,38.0222772 L31.8811881,30.019802 C31.8811881,29.4292401 31.4024431,28.950495 30.8118812,28.950495 C30.2213193,28.950495 29.7425743,29.4292401 29.7425743,30.019802 Z M32.3918911,4 L30.370565,4 C23.9697925,4 18.7623762,9.20741628 18.7623762,15.6081888 C18.7623762,22.0089613 23.9697925,27.2162978 30.3704852,27.2162978 L32.3918112,27.2162978 C33.3908537,27.2162978 34.3796734,27.0893908 35.3380642,26.8386119 L38.3240105,29.8228811 C38.476794,29.9755048 38.6809312,30.0566485 38.8887423,30.0566485 C38.9916894,30.0566485 39.0955151,30.0367619 39.1943092,29.9957907 C39.4926882,29.8721583 39.6872415,29.5809673 39.6872415,29.2579896 L39.6872415,24.6372682 C40.9514388,23.6134672 42.0015955,22.3201987 42.738598,20.8754246 C43.5756725,19.2344999 44,17.4623555 44,15.6081888 C44,9.20741628 38.7925837,4 32.3918911,4 Z M38.1880415,23.3885365 C37.9941213,23.5346535 37.8799505,23.7634592 37.8799505,24.0064202 L37.8799505,26.9921875 L35.9870823,25.1003249 C35.8398051,24.9532024 35.6422494,24.8739171 35.4402073,24.8739171 C35.3644028,24.8739171 35.2878249,24.885133 35.2131033,24.9081064 C34.2923886,25.1910582 33.3329208,25.3344678 32.3613088,25.3344678 L30.40362,25.3344678 C25.0573175,25.3344678 20.7079208,20.9849938 20.7079208,15.6387686 C20.7079208,10.2925433 25.0573948,5.94306931 30.40362,5.94306931 L32.3613088,5.94306931 C37.707534,5.94306931 42.0569307,10.2925433 42.0569307,15.6387686 C42.0569307,18.7112204 40.6468131,21.536742 38.1880415,23.3885365 Z M34.8657952,12.8599165 C34.754177,11.2405631 33.4487933,9.93517946 31.8293626,9.82356126 C30.9113552,9.7605198 30.0352723,10.0701578 29.3647123,10.6961634 C28.7033571,11.3135056 28.3241027,12.186185 28.3241027,13.0905012 C28.3241027,13.5177135 28.6704827,13.8640161 29.0976176,13.8640161 C29.5247525,13.8640161 29.8711324,13.5177135 29.8711324,13.0905012 C29.8711324,12.6063583 30.0662129,12.1576423 30.420328,11.8271194 C30.7741337,11.4969059 31.2365408,11.3334623 31.7230817,11.3670328 C32.5761139,11.4258199 33.2636912,12.1133973 33.3224783,12.9663521 C33.3818843,13.8278156 32.816677,14.5891089 31.978651,14.7766089 C31.2996597,14.9285272 30.825495,15.5185644 30.825495,16.2114016 L30.825495,18.069771 C30.825495,18.4969833 31.171875,18.8432859 31.5990099,18.8432859 C32.0262222,18.8432859 32.3725248,18.4969833 32.3724474,18.069771 L32.3724474,16.2732054 C33.9310798,15.8966584 34.9767946,14.4704517 34.8657952,12.8599165 Z M32.1458849,20.5826114 C32.0020111,20.4387376 31.8024443,20.3559715 31.5990099,20.3559715 C31.3955755,20.3559715 31.1960087,20.4387376 31.0521349,20.5826114 C30.9082611,20.7264851 30.825495,20.926052 30.825495,21.1294864 C30.825495,21.3336943 30.9083385,21.5332611 31.0521349,21.6771349 C31.1960087,21.8210087 31.3955755,21.9030012 31.5990099,21.9030012 C31.8024443,21.9030012 32.0020111,21.8210087 32.1458849,21.6771349 C32.2897587,21.5324876 32.3725248,21.3336943 32.3725248,21.1294864 C32.3725248,20.926052 32.2896813,20.7264851 32.1458849,20.5826114 Z M24.1188119,28.375 L9.42574257,28.375 C8.83518066,28.375 8.35643564,28.853745 8.35643564,29.4443069 C8.35643564,30.0348688 8.83518066,30.5136139 9.42574257,30.5136139 L24.1188119,30.5136139 C24.7093738,30.5136139 25.1881188,30.0348688 25.1881188,29.4443069 C25.1881188,28.853745 24.7093738,28.375 24.1188119,28.375 Z M26.3233436,33.0199901 C26.1245594,32.821099 25.8486782,32.7066832 25.5674505,32.7066832 C25.2862228,32.7066832 25.0103416,32.821099 24.8114505,33.0199901 C24.6124525,33.2188812 24.4981436,33.4947624 24.4981436,33.7759901 C24.4981436,34.0572178 24.6125594,34.333099 24.8114505,34.5319901 C25.0103416,34.7308812 25.2862228,34.845297 25.5674505,34.845297 C25.8486782,34.845297 26.1245594,34.7308812 26.3233436,34.5319901 C26.5223416,34.333099 26.6367574,34.0582871 26.6367574,33.7759901 C26.6367574,33.4947624 26.5222347,33.2188812 26.3233436,33.0199901 Z M21.1485149,32.7066832 L9.42574257,32.7066832 C8.83518066,32.7066832 8.35643564,33.1854282 8.35643564,33.7759901 C8.35643564,34.366552 8.83518066,34.845297 9.42574257,34.845297 L21.1485149,34.845297 C21.7390768,34.845297 22.2178218,34.366552 22.2178218,33.7759901 C22.2178218,33.1854282 21.7390768,32.7066832 21.1485149,32.7066832 Z M19.1683168,24.0433168 L9.42574257,24.0433168 C8.83518066,24.0433168 8.35643564,24.5220619 8.35643564,25.1126238 C8.35643564,25.7031857 8.83518066,26.1819307 9.42574257,26.1819307 L19.1683168,26.1819307 C19.7588787,26.1819307 20.2376238,25.7031857 20.2376238,25.1126238 C20.2376238,24.5220619 19.7588787,24.0433168 19.1683168,24.0433168 Z', fill='#EF4623')


                    h3 Front-end & UX
                    p  We believe interfaces should be simple and intuitive, but polished to the point that they’re enjoyable to use.
                .col-md-4
                    .img
                        svg.mb-2(width='112', height='112', viewBox='0 0 48 48', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                          g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                            path(d='M24,34.4 C21.344001,34.4 16,31.2 16,23.2 C16,18.781722 19.581722,15.2 24,15.2 C28.418278,15.2 32,18.781722 32,23.2 C32,31.2 26.656,34.4 24,34.4 Z M24.0000004,32.48 C26.016,32.48 30.08,29.664 30.08,23.2 C30.08,19.744 27.456,17.12 24,17.12 C20.544,17.12 17.92,19.744 17.92,23.2 C17.92,29.664 21.9840008,32.48 24.0000004,32.48 Z M10.3475607,35.5217562 L16.1310487,33.0821758 C16.545967,32.9071557 17.0223326,32.9630439 17.3854739,33.2293476 L21.1614544,35.9983999 C22.8510108,37.2374079 25.1489892,37.2374079 26.8385456,35.9983999 L30.6145261,33.2293476 C30.9776674,32.9630439 31.454033,32.9071557 31.8689513,33.0821758 L37.6524393,35.5217562 C39.0751383,36.1218765 40,37.5157756 40,39.0598666 L40,42.72 C40,43.4269245 39.4269245,44 38.72,44 L9.28,44 C8.57307552,44 8,43.4269245 8,42.72 L8,39.0598666 C8,37.5157756 8.9248617,36.1218765 10.3475607,35.5217562 Z M11.4509054,37.0878952 C10.5207077,37.4962747 9.92,38.4160494 9.92,39.4319439 L9.92,41.44 C9.92,41.7934622 10.2065378,42.08 10.56,42.08 L37.44,42.08 C37.7934622,42.08 38.08,41.7934622 38.08,41.44 L38.08,39.4319439 C38.08,38.4160494 37.4792923,37.4962747 36.5490946,37.0878952 L31.8500419,35.0248964 C31.6451447,34.9349416 31.4081443,34.958537 31.2250048,35.0871243 L26.758226,38.2233732 C25.1030332,39.3855299 22.8969668,39.3855299 21.241774,38.2233732 L16.7749952,35.0871243 C16.5918557,34.958537 16.3548553,34.9349416 16.1499581,35.0248964 L11.4509054,37.0878952 Z M23.8307841,10.6199803 L22.1025338,11.5787064 C21.8509315,11.7182798 21.5333419,11.6283221 21.3931776,11.3777803 C21.3326408,11.2695714 21.3129411,11.1433786 21.3376339,11.0219766 L21.7328866,9.07871743 C21.7570599,8.95986935 21.7170247,8.83708988 21.6273481,8.75505297 L20.1686887,7.42065928 C19.9565938,7.22663313 19.942612,6.8981317 20.1374594,6.68693081 C20.2222739,6.59499795 20.3375083,6.5365671 20.4620583,6.52233955 L22.4276988,6.29780108 C22.5488348,6.28396351 22.6538374,6.20794466 22.704415,6.09746662 L23.5254701,4.30401189 C23.6449386,4.04305343 23.954231,3.9279449 24.2162941,4.0469098 C24.3306599,4.09882675 24.4223478,4.19012816 24.4744845,4.30401189 L25.2955397,6.09746662 C25.3461172,6.20794466 25.4511199,6.28396351 25.5722559,6.29780108 L27.5378963,6.52233955 C27.8240298,6.55502506 28.0293778,6.8125012 27.9965539,7.0974286 C27.9822661,7.2214536 27.923588,7.33620235 27.831266,7.42065928 L26.3726065,8.75505297 C26.2829299,8.83708988 26.2428947,8.95986935 26.2670681,9.07871743 L26.6623207,11.0219766 C26.7194933,11.3030651 26.5370089,11.5770845 26.2547305,11.6340161 C26.1328147,11.6586047 26.0060877,11.6389881 25.8974208,11.5787064 L24.1691705,10.6199803 C24.0639853,10.5616301 23.9359693,10.5616301 23.8307841,10.6199803 Z M33.8307841,13.6199803 L32.1025338,14.5787064 C31.8509315,14.7182798 31.5333419,14.6283221 31.3931776,14.3777803 C31.3326408,14.2695714 31.3129411,14.1433786 31.3376339,14.0219766 L31.7328866,12.0787174 C31.7570599,11.9598693 31.7170247,11.8370899 31.6273481,11.755053 L30.1686887,10.4206593 C29.9565938,10.2266331 29.942612,9.8981317 30.1374594,9.68693081 C30.2222739,9.59499795 30.3375083,9.5365671 30.4620583,9.52233955 L32.4276988,9.29780108 C32.5488348,9.28396351 32.6538374,9.20794466 32.704415,9.09746662 L33.5254701,7.30401189 C33.6449386,7.04305343 33.954231,6.9279449 34.2162941,7.0469098 C34.3306599,7.09882675 34.4223478,7.19012816 34.4744845,7.30401189 L35.2955397,9.09746662 C35.3461172,9.20794466 35.4511199,9.28396351 35.5722559,9.29780108 L37.5378963,9.52233955 C37.8240298,9.55502506 38.0293778,9.8125012 37.9965539,10.0974286 C37.9822661,10.2214536 37.923588,10.3362024 37.831266,10.4206593 L36.3726065,11.755053 C36.2829299,11.8370899 36.2428947,11.9598693 36.2670681,12.0787174 L36.6623207,14.0219766 C36.7194933,14.3030651 36.5370089,14.5770845 36.2547305,14.6340161 C36.1328147,14.6586047 36.0060877,14.6389881 35.8974208,14.5787064 L34.1691705,13.6199803 C34.0639853,13.5616301 33.9359693,13.5616301 33.8307841,13.6199803 Z M13.8307841,13.6199803 L12.1025338,14.5787064 C11.8509315,14.7182798 11.5333419,14.6283221 11.3931776,14.3777803 C11.3326408,14.2695714 11.3129411,14.1433786 11.3376339,14.0219766 L11.7328866,12.0787174 C11.7570599,11.9598693 11.7170247,11.8370899 11.6273481,11.755053 L10.1686887,10.4206593 C9.95659378,10.2266331 9.94261197,9.8981317 10.1374594,9.68693081 C10.2222739,9.59499795 10.3375083,9.5365671 10.4620583,9.52233955 L12.4276988,9.29780108 C12.5488348,9.28396351 12.6538374,9.20794466 12.704415,9.09746662 L13.5254701,7.30401189 C13.6449386,7.04305343 13.954231,6.9279449 14.2162941,7.0469098 C14.3306599,7.09882675 14.4223478,7.19012816 14.4744845,7.30401189 L15.2955397,9.09746662 C15.3461172,9.20794466 15.4511199,9.28396351 15.5722559,9.29780108 L17.5378963,9.52233955 C17.8240298,9.55502506 18.0293778,9.8125012 17.9965539,10.0974286 C17.9822661,10.2214536 17.923588,10.3362024 17.831266,10.4206593 L16.3726065,11.755053 C16.2829299,11.8370899 16.2428947,11.9598693 16.2670681,12.0787174 L16.6623207,14.0219766 C16.7194933,14.3030651 16.5370089,14.5770845 16.2547305,14.6340161 C16.1328147,14.6586047 16.0060877,14.6389881 15.8974208,14.5787064 L14.1691705,13.6199803 C14.0639853,13.5616301 13.9359693,13.5616301 13.8307841,13.6199803 Z', fill='#EF4623')

                    h3 Back-end
                    p Our primary stack is PHP, Node.JS and Python, however, we work to stay technology agnostic & choose the best tech stack for each job that we take.
                .col-md-4
                    .img
                        svg.mb-2(width='112', height='112', viewBox='0 0 48 48', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                          g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                            path(d='M43.8269653,5.20574953 C44.843811,14.3564453 41.24823,22.2019043 34.673523,28.649353 C32.6877441,30.5966797 30.5609741,32.2818603 28.5166016,33.7103882 C28.5898438,36.09198 27.5986328,38.6307373 25.8893433,40.3400269 L22.5745239,43.6548462 C21.781372,44.4476929 20.4205933,43.7738648 20.5866089,42.65448 C20.8786621,40.6809082 21.0132446,39.2249145 20.991272,38.2333984 C19.6610108,38.9285889 18.5516968,39.4656983 18.236145,39.6686402 C17.7722778,39.9664917 17.1634522,39.9011841 16.7737427,39.5114746 L14.7562256,37.4939575 C11.3400879,40.0308838 9.46356203,40.3085938 8.80926516,40.3085938 C8.05364992,40.3085938 7.59741211,39.760498 7.57696531,39.1754761 C7.56719969,38.899292 7.61328125,36.9495239 10.4047241,33.1424561 L8.48669438,31.2244262 C8.09973141,30.8374634 8.03228758,30.2347412 8.32342531,29.7714844 C8.50927734,29.4763794 9.06988523,28.2977905 9.80139156,26.8909302 C9.49835203,26.8677368 9.13366703,26.8613281 8.69482422,26.8817749 C7.49426266,26.937622 6.24456789,27.1777954 5.47552492,27.3843994 C4.96282961,27.5214234 4.42236328,27.2977295 4.15716555,26.8384399 C3.89196781,26.3791504 3.96826172,25.7987061 4.34332273,25.423645 L7.65814211,22.1088257 C9.47576906,20.2911987 12.0395508,19.2450562 14.3518677,19.3390503 C15.7181397,17.3984375 17.3187866,15.3876343 19.1641845,13.487915 C25.6125488,6.85003664 33.5178223,3.14031984 42.7915039,4.17028812 C43.3365478,4.23071289 43.7665405,4.66101078 43.8269653,5.20574953 Z M41.5851441,6.41180422 C39.0543213,6.22320555 36.6034546,6.41729734 34.2340698,6.99011234 C34.6869507,8.43908687 35.5820313,9.85632328 36.8613281,11.1359253 C38.1360473,12.4103394 39.5474853,13.3035889 40.991272,13.7583008 C41.5726319,11.3880005 41.7722168,8.93865969 41.5851441,6.41180422 Z M8.54193117,24.5398559 C9.36376953,24.4992676 10.217041,24.5307007 10.9845581,24.7000733 C11.4813843,23.815979 12.0447388,22.8580322 12.6767578,21.8549195 C11.467041,22.1576538 10.2506103,22.8311767 9.31524656,23.7662353 L8.54193117,24.5398559 Z M10.7596436,30.1828613 L11.8665161,31.2894287 C12.3334351,30.7349243 12.8516235,30.1499023 13.4256592,29.5340577 L11.8829956,27.9910889 C11.3199463,29.0549316 11.0132446,29.682373 10.7596436,30.1828613 Z M16.4905395,29.7345581 C12.8891602,33.3359375 11.2601319,35.8600464 10.524353,37.380127 C12.015747,36.6550293 14.5096436,35.0302734 18.1479492,31.3919678 C18.9990845,30.5408325 19.1580811,29.6942749 19.1803589,28.703064 C18.163208,28.7250366 17.3444214,28.8809814 16.4905395,29.7345581 L16.4905395,29.7345581 Z M17.8085938,37.2318116 C18.4622803,36.893982 18.9127197,36.677002 19.9924316,36.1005249 L18.3502808,34.4583741 C17.7350464,35.0345459 17.1518555,35.5542602 16.6000977,36.0230102 L17.8085938,37.2318116 Z M24.2316284,38.6826172 C25.1065673,37.8079834 25.7349243,36.6049805 26.0144653,35.3659668 C25.0336304,35.9815063 24.0976563,36.5317383 23.2358398,37.0169678 C23.3432617,37.6560059 23.3695069,38.484253 23.293518,39.6210327 L24.2316284,38.6826172 Z M22.1259155,34.9194946 C31.7172852,29.4098511 37.798523,23.0805054 40.3180542,16.0037842 C38.5031738,15.4382934 36.755127,14.3445434 35.2042236,12.793335 C33.6459961,11.2351074 32.5494995,9.47882078 31.986145,7.65600586 C24.8703613,10.1608887 18.5370484,16.2436523 13.0579223,25.8515015 L15.0644531,27.8580322 C16.8189087,26.2644043 18.5504761,26.3608398 20.3497925,26.3608398 C20.9970703,26.3608398 21.5216675,26.885437 21.5216675,27.5327148 C21.5216675,29.4586792 21.5796509,31.1072388 20.0247803,32.8180542 L22.1259155,34.9194946 Z M33.546814,14.4504395 C35.8313598,16.7352905 35.8313598,20.4529419 33.546814,22.7374878 C31.2619629,25.0223389 27.5443116,25.0220337 25.2597656,22.7374878 C22.9752197,20.4529419 22.9752197,16.7352905 25.2597656,14.4504395 C27.5443116,12.1658936 31.2619629,12.1658936 33.546814,14.4504395 Z M31.8894043,21.0800781 C33.2602539,19.7092285 33.2602539,17.4786987 31.8894043,16.1078491 C30.5182495,14.7369995 28.2877197,14.7373047 26.9171753,16.1078491 C25.5463257,17.4786987 25.5463257,19.7092285 26.9171753,21.0800781 C28.2877197,22.4509277 30.5185547,22.4509277 31.8894043,21.0800781 Z', fill='#EF4623')

                    h3 APP
                    p Whether you’re looking for an ios, android or cross platform application, talk to us about your options.



    section.tpl-block.tpl-user-block#meet-our-team
        .container
            .heading-section
                    h2 Meet our team
            .row
                .col-md-4.box
                    .card
                        a(href="" class="avatar")
                            img(src="https://pangara.com/wp-content/uploads/2019/09/image-1-150x150.png")
                        .card-body
                            h5.name Nghia
                            .position senior Frontend developer
                            .skill
                                span(class="badge badge-secondary") Angularjs
                                span(class="badge badge-secondary") Vuejs
                                span(class="badge badge-secondary") Javascript
                                span(class="badge badge-secondary") Reactjs
                                span(class="badge badge-secondary") CSS
                                span(class="badge badge-secondary") LESS
                                span(class="badge badge-secondary") SCSS
                                span(class="badge badge-secondary") JS
                            .action-button
                                a.btn.btn-primary.btn-xs(href="#") View profile
                .col-md-4.box
                    .card
                        a(href="" class="avatar")
                            img(src="https://pangara.com/wp-content/uploads/2018/04/Han-Van-Hieu-150x150.png")
                        .card-body
                            h5.name Trung
                            .position senior php
                            .skill
                                span(class="badge badge-secondary") php
                                span(class="badge badge-secondary") wordpress
                                span(class="badge badge-secondary") Javascript
                                span(class="badge badge-secondary") Magento
                                span(class="badge badge-secondary") CSS
                                span(class="badge badge-secondary") JS
                                span(class="badge badge-secondary") Angularjs
                            .action-button
                                a.btn.btn-primary.btn-xs(href="#") View profile
                .col-md-4.box
                    .card
                        a(href="" class="avatar")
                            img(src="https://pangara.com/wp-content/uploads/2019/09/image-3-150x150.png")
                        .card-body
                            h5.name Quyen
                            .position FUll-stack
                            .skill
                                span(class="badge badge-secondary") PHP
                                span(class="badge badge-secondary") wordpress
                                span(class="badge badge-secondary") Javascript
                                span(class="badge badge-secondary") Magento
                                span(class="badge badge-secondary") SCSS
                                span(class="badge badge-secondary") LESS
                                span(class="badge badge-secondary") Jquery
                            .action-button
                                a.btn.btn-primary.btn-xs(href="#") View profile

    section.tpl-block.customers-review#customers-say
        .container
            .heading-section
                    h2 What Our Customers Say
                    p Read about what companies that have already started working with Pangara have to say
                    .rate.mt-4.mb-5.pb-3
                        a
                            i.fas.fa-star
                        a
                            i.fas.fa-star
                        a
                            i.fas.fa-star
                        a
                            i.fas.fa-star
                        a
                            i.fas.fa-star
            .row
                .col-md-4
                    .card.card-default
                        .card-body
                            .d-flex.profile-top
                                .avatar
                                    img(src="https://pangara.com/wp-content/uploads/2018/08/Pontus_Backlund-100x100.jpg")
                                .text
                                    h5 Pontus Backlund
                                    p CTO, Appspotr

                            p "We've spent a long time looking for developers with no results. With Pangara, not only have we saved a great deal of time, but also money."
                            a(href="") » Read case study
                .col-md-4
                    .card.card-default
                        .card-body
                            .d-flex.profile-top
                                .avatar
                                    img(src="https://pangara.com/wp-content/uploads/2018/08/Per_Rundblom-100x100.jpg")
                                .text
                                    h5 Per Rundblom
                                    p Co-Founder


                            p "We needed to rewrite an app and make changes to our APIs. These are complicated tasks, but it proved no match for a Pangara engineer.
                            a(href="") » Read case study

                .col-md-4
                    .card.card-default
                        .card-body
                            .d-flex.profile-top
                                .avatar
                                    img(src="https://pangara.com/wp-content/uploads/2018/08/mike-100x100.jpg")
                                .text
                                    h5 Mikael Lindberg Castell
                                    p CTO, Together Gaming

                            p "I barely dare to think where we would have been if we hadn’t found Pangara. The biggest win has definitely been in terms of time saved."
                            a(href="") » Read case study
    section.tpl-block.tpl-block-dark#contact-us
            .container
                .heading-section
                        h2 Let's start working together!
                        p Describe what competence you are looking for and we will present candidates
                        a.btn.btn-secondary(href="")
                            | Get started
                            i.fas.fa-arrow-circle-right
