block page-info

doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{pageTitle} | Learning and Development
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory

    // build:css styles/vendor.css
    link(rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" )
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" type="text/css" )
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"  type="text/css" )
    // endbuild

     //- // bower:css
     //- // endbower

    // build:css assets/css/styles.css
    link(rel='stylesheet', href='assets/css/styles.css')
    // endbuild

    //- // build:js scripts/vendor/modernizr.js
    //- script(src='/bower_components/modernizr/modernizr.js')
    //- // endbuild
  body(class=pageClass)
    <!--[if lt IE 10]>
      p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->

    .header#header
      .container
        .navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.bd-navbar
          a.navbar-brand.mr-0.mr-md-2(href='/', aria-label='Bootstrap')
            | D-SOLUTION
          .navbar-nav-scroll
            ul.navbar-nav.bd-navbar-nav.flex-row
              li.nav-item
                a.nav-link(href='#hero', ) Home
              li.nav-item
                a.nav-link(href='#what-we-do') What we do
              li.nav-item
                a.nav-link(href='#meet-our-team',) Meet our team
              li.nav-item
                a.nav-link(href='#customers-say',) Customers Say
          a.btn.btn-secondary.btn-bd-download.d-none.d-lg-inline-block.mb-3.mb-md-0.ml-md-3(href='#contact-us') Contact Us



    block content

    .footer
      .container
        .row
            .col-md-4
                h3 follow us
                ul
                    li
                        a
                            .fab.fa-facebook-f
                    li
                        a
                            .fab.fa-linkedin-in
                    li
                        a
                            .fab.fa-twitter


            .col-md-4

            .col-md-4

    //- // build:js scripts/vendor.js
    //- // bower:js
    //- script(src='/bower_components/jquery/dist/jquery.js')
    //- //- script(src='/bower_components/modernizr/modernizr.js')
    //- // endbower
    //- // endbuild
    // build:js lib/jquery/dist/jquery.js
    script(src='lib/jquery/dist/jquery.js')
    // endbuild

    // build:js scripts/plugins.js
    //- script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
    //- script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js')
    //- script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
    //- script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js')
    //- script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
    //- script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
    //- script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js')
    //- script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js')
    //- script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js')
    //- script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js')
    //- script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
    //- script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
    script(src='lib/bootstrap/dist/js/bootstrap.min.js')
    // endbuild





    // build:js assets/js/main.js
    script(src='assets/js/main.js')
    // endbuild
